:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: #2caeba;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* main */
.section
{
  width: 95vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

.section .title
{
  margin-bottom: 4rem;
  text-align: center;
}

.section .underline
{
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}


.jobs-center
{
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
}

.jobs-center .btn-container
{
  width: 15%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.job-info
{
  width: 80%;
}

.jobs-center .job-btn
{
  border: transparent;
  padding: 0.25rem 0;
  margin: 0 0.35rem;
  background: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  transition: var(--transition);
  cursor: pointer;
  outline: var(--clr-primary-10);
  margin-bottom: 2rem;
}

.jobs-center .job-btn.active-btn,
.jobs-center .job-btn:hover
{
  color: var(--clr-primary-5);
  box-shadow: -2px 0 var(--clr-primary-5);
}

.job-info h3
{
  font-weight: normal;
}

.job-info h4
{
  background: var(--clr-grey-9);
  text-transform: uppercase;
  display: inline-block;
  padding: 0.375rem;
  border-radius: var(--radius); 
  color: var(--clr-grey-5);   
}

.job-info .job-date
{
  letter-spacing: var(--spacing);
}

.job-desc
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  /* border: 2px solid red; */
}


.job-desc p
{
  margin-bottom: 0;
  color: var(--clr-grey-3);
  margin-left: 2rem;
}


.job-icon
{
  font-size: 1.2em;
  justify-self: flex-start;
  color: var(--clr-primary-5);
  display: inline;
}


@media only screen and (max-width: 992px)
{
  .jobs-center
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .jobs-center .btn-container
  {
    flex-direction: row;
    align-self: center;
    width: 100%;
  }

  .jobs-center .job-btn.active-btn,
  .jobs-center .job-btn:hover
  {
    color: var(--clr-primary-5);
    box-shadow: 0 2px var(--clr-primary-5);
  }

  .job-icon
  {
    font-size: 2.5em;
  }

}















