
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* main */
.section-center
{
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 2rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.section-center
{
  width: 90vw;
  max-width: 35rem;
  margin: 8rem auto 0;
}

@media only screen and (min-width: 992px)
{
    .section-center
    {
        width:95vw;
    }
}


.grocery-form h3
{
  margin-bottom: 1.5rem;
  color: var(--clr-primary-1);
  text-align: center;
}

.grocery-form .form-control
{
  display: flex;
  align-items: center;
}

.grocery-form .form-control input
{
  border-color: transparent;
  background: var(--clr-grey-10);
  color: var(--clr-grey-5);
  padding: .25rem .25rem .25rem 1rem;
  font-size: 1rem;
  border-top-left-radius: var(--radius);
  flex: 1 0 auto;
}

.form-control button
{
  border-color: transparent;
  background: var(--clr-primary-8);
  padding: .35rem .25rem;
  font-size: 0.85rem;
  border-bottom-right-radius: var(--radius);
  flex: 0 0 5rem;
  letter-spacing: 2px;
  text-transform: capitalize;   
}

.grocery-container
{
  margin-top: 2rem;
}

.grocery-list article
{
  padding: .25rem 1rem;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

article p
{
  margin-bottom: 0;
  letter-spacing: 2px;
  color: var(--clr-grey-1);
}

.btn-container button
{
  background: transparent;
  border-color: transparent;
  margin: 0.15rem;
  cursor: pointer;
}

.edit-btn
{
  color: var(--clr-green-light);
}

.delete-btn
{
  color: var(--clr-red-light);
}


.delete-btn,.edit-btn,.title
{
  transition: var(--transition);
}


.clear-btn
{
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  display: grid;
  align-items: center;
  justify-content: center;
  width: 10rem;
  margin: 1.25rem auto 0;
  text-align: center;
  cursor: pointer;
  font-size: .85rem;
  letter-spacing: .1rem;
  text-transform: capitalize;
}


@media only screen  and (max-width: 400px)
{
  .grocery-form .form-control
  {
    justify-content: center;
  }
  .grocery-form .form-control input
  {
    flex: 0;
    width: 100px;
  }
}

.grocery::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-5);
}

.submit-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}


.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}










