:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

nav
{
  position: relative;
  background: var(--clr-primary);
  color: white;
  padding: 1rem 2rem;
}

.nav-center
{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--fixed-width);
}

.nav-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-container svg
{
  fill: white;
  width: 2rem;
}

.nav-container .amount-container
{
    position: absolute;
    top: -15px;
    background: var(--clr-primary-light);
    border-radius: 50%;
    right: -10px;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

.cart
{
  margin: 5rem auto;
  width: 90vw;
  max-width: var(--fixed-width);
}

.cart header
{
  text-align: center;
}

.cart header h2
{
  text-transform: uppercase;
}

.cart-item
{
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img
{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.cart-item .item-price
{
  color: var(--clr-grey-5);
}

.cart-item h4
{
  font-weight: 500;
  letter-spacing: 0.85px;
}

.remove-btn
{
  background: transparent;
  border: none;
  outline: none;
  letter-spacing: var(--spacing);
  color: var(--clr-primary);
  transition: var(--transition);
  cursor: pointer;
}

.remove-btn:hover
{
  color: var(--clr-primary-light);
}


.amount-btn 
{
    width: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.amount-btn svg
{
  fill: var(--clr-primary);
}

.amount {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 1;
}



.cart footer hr
{
  background: var(--clr-grey-5);
  border-color: transparent;
  border-width: 0.25px;
}

footer
{
  text-align: center;
}

footer .cart-total
{
  margin-top: 1rem;
}

.cart-total h4
{
  display: flex;
  justify-content: space-between;
}


.clear-btn
{
  background: transparent;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  border:1px solid var(--clr-red-light);
  font-weight: 600;
  color: var(--clr-red-dark);
  text-transform: uppercase;
  padding: 0.75rem 0.95rem;
  cursor: pointer;
  margin-top: 3rem;
}

.clear-btn:hover
{
  background: var(--clr-red-light);
}

.loading
{
  text-align: center;
  margin: 3rem;
}